<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="stylesheet" href="..//leaderboard.css">
</head>
<body>
   
    <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>

    <nav class="nav">
        <div class="nav-content">
            <h1>Leaderboard</h1>
            <% const url = 'main?username=' + encodeURIComponent(username); %>
            <button class="play-again-btn" id="playAgainBtn" onclick="window.location.href='<%= url %>'">Play again</button>
        </div>
    </nav>    

    <div class="users">
       
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" id="searchInput" placeholder="Search for usernames..." onkeyup="filterUsers()">
        </div>

        <div id="noUserMessage" style="display: none; margin-bottom: 20px; color: #e74c3c;">No existing player with this name.</div>

        <ul id="userList">
            <% const colors = ['#e74c3c', '#3498db', '#2ecc71', '#f29143']; %>
            <% let topUser = users.reduce((prev, current) => (current.maxLevel > prev.maxLevel) ? current : prev); %>
            <% users.forEach((user, index) => { 
                const color = colors[index % colors.length];
                const isTopUser = user.username === topUser.username;
            %>
            <li onclick="location.href='/history?user=<%= encodeURIComponent(user.username) %>'" style="background-color: <%= isTopUser ? 'gold' : color %>;">
                <i class="fas fa-user"></i> 
                <span><%= user.username %></span> 
                <span style="margin-left: auto; color: #000000;"><%= user.maxLevel %></span>
                <% if (isTopUser) { %>
                <i class="fas fa-medal"></i>
                <% } %>
            </li>
            <% }) %>
        </ul>
    </div>

    <script>
        const backToTopButton = document.getElementById('btn-back-to-top');
        const userList = document.getElementById('userList');
        const noUserMessage = document.getElementById('noUserMessage');

        // Show or hide the back-to-top button
        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                backToTopButton.classList.add('show');
            } else {
                backToTopButton.classList.remove('show');
            }
        };

        // Scroll to the top of the page
        backToTopButton.addEventListener('click', function() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        // Function to filter users based on input
        function filterUsers() {
            const input = document.getElementById('searchInput');
            const filter = input.value.toLowerCase();
            const li = userList.getElementsByTagName('li');
            let foundUser = false; // Track if any user was found

            for (let i = 0; i < li.length; i++) {
                const txtValue = li[i].textContent || li[i].innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                    foundUser = true; // Set foundUser to true if a match is found
                } else {
                    li[i].style.display = "none";
                }
            }

            // Show or hide the "no user" message
            noUserMessage.style.display = foundUser ? "none" : "block";
        }
    </script>
</body>
</html>
